.description {
  padding: 100px 0 0 0;
/*Расстояние между секциями синхронизировано с представленным в разделе 01 брифа:
  padding: 100px 0 0 0;
вместо
  padding: 100px 0;
как то предписывали описания отступов в разделе 02 (красные рамки), прописанные
куда более явно, хоть и в противоречение разделу 01. Получалось некрасиво, и заподозрив ошибку
исправил. Проблема разночтений в брифе. Надеюсь гипотетический дизайнер не дергает глазом от такого.*/
  display: flex;
  justify-content: space-around;
}
