.footer__column-link {
  color: #fff;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none; /* отключаем подчеркивание, по умолчанию установленное для ссылок */
  display: block; /* делаем ссылку блочной для применения margin */
  margin: 0 0 10px 0;
}

.footer__column-link:hover {
  opacity: 0.60;
  transition: opacity 0.10s linear;
}
