@import url(../vendor/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/intro/intro.css);
@import url(../fonts/fonts.css);
@import url(../blocks/content/content.css);
@import url(../blocks/block/block.css);
@import url(../blocks/header/header.css);

.root {
  max-width: 1440px;
  margin: auto;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
}

a {
  color: #000;
 
}
