.rotate {
  animation-duration: 20s;
  animation-name: rotate;
  animation-iteration-count: infinite;

  /*-webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;*/
  /*transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 20s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;*/
}
