@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

@import url('../blocks/page/page.css');

@import url('../blocks/logo/logo.css');
@import url('../blocks/logo/_place/logo_place_header.css');
@import url('../blocks/logo/_place/logo_place_footer.css');

@import url('../blocks/header/header.css');

/*@import url('..blocks/content/content.css');*/

@import url('../blocks/description/description.css');
@import url('../blocks/two-columns/two-columns.css');
  @import url('../blocks/two-columns/__brief/two-columns__brief.css');
  @import url('../blocks/two-columns/__main-text/two-columns__main-text.css');

/*@import url('..blocks/techniques/techniques.css');*/
/*@import url('..blocks/video/video.css');*/

/*@import url('..blocks/oakley/oakley.css');*/
/* дублирует стилизацию two-column блока

/*@import url('..blocks/feynman/feynman.css');*/
/*@import url('..blocks/digits/digits.css');*/
/*@import url('..blocks/khan/khan.css');*/
/*@import url('..blocks/kaufman/kaufman.css');*/
/*@import url('..blocks/resources/resources.css');*/

@import url('../blocks/footer/footer.css');
  @import url('../blocks/footer/__columns/footer__columns.css');
    @import url('../blocks/footer/__column/footer__column.css');
      @import url('../blocks/footer/__column/_content/footer__column_content_copyright.css');
      @import url('../blocks/footer/__column/_content/footer__column_content_info.css');
      @import url('../blocks/footer/__column/_content/footer__column_content_social.css');
        @import url('../blocks/footer/__author/footer__author.css');
        @import url('../blocks/footer/__column-heading/footer__column-heading.css');
        @import url('../blocks/footer/__column-links/footer__column-links.css');
          @import url('../blocks/footer/__column-link/footer__column-link.css');
          @import url('../blocks/footer/__column-link/_li/footer__column-link_li.css');
            @import url('../blocks/footer/__social-icon/footer__social-icon.css');
